body *  {
    /*outline: 1px dotted blueviolet;
    outline-offset: -1px;*/
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
}
h2 {
    font-weight: 500;
}

h3 {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}

.search {
    width: 34%;
    height: 28px;
    border-radius: 8px;
    background-color: #F5F5F5; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12px;
}

header {
    width: 100%;
}

.main_navbar {
    display: flex;
    gap: 21px;
    align-items: center;
    height: 57px;
    padding-left: 42px;
    padding-right: 42px;
    border-bottom: 1px solid #e8e8e8;
}

.mobile_navbar {
    display: none;
    padding: 0 5vw;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.open_menu {
    height: 44px;
    width: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.open_menu_line {
    width: 100%;
    height: 3px;
    background-color: black;
}

.menu_items {
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    background-color: white;
    width: 100%;
    padding: 1em 5vw;
    display: none;
    z-index: 2;
}

.menu_items li {
    margin: 5px 0;
}

.logo_button {
    display: flex;
    align-items: center;
    gap: 13px;
}

.nav_div {
    height: 100%;
    display: flex;
}

.nav_buttons {
    border: none;
    font-size: 24px;
    font-weight: 500;
    height: 100%;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.nav_buttons:hover {
    background-color: rgb(235, 235, 235);
}

main {
    padding: 23px 42px;
    flex-grow: 1;
}

.games_list {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 15px;
}

/*.game {
    width: 131px;
    height: 131px;
    background-color: #fafafa;
    border-radius: 10px;
}*/

.game {
    width: 160px;
    height: 160px;
    background-image: linear-gradient(45deg, #b2bad6, #dce2fa);
    border-radius: 10px;
    transition-property: outline;
    transition-duration: 0.4s;
    outline: 2px solid #dce2fa;
    background-position: center;
    position: relative;
}

/*Заменить на дочерний элемент позже*/
/* .game::before {
    content: "i";
    font-size: 18px;
    color: rgb(103, 34, 231);
    background-color: white;
    outline: 2px solid rgb(103, 34, 231);
    outline-offset: -2px;
    position: absolute;
    top: 4px;
    left: calc(100% - 28px);
    width: 24px;
    height: 24px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    pointer-events: all;
}

.game:hover::before {
    display: flex;
} */

.game:hover {
    transition-property: outline;
    transition-duration: 0.5s;
    outline: 2px solid rgb(103, 34, 231);
}

.new_game {
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: rgb(103, 34, 231);
    width: fit-content;
    padding: 2px 10px;
    border-radius: 10px;
    float: right;
    margin: 4px;
}

.categories {
    padding-top: 23px;
}

.categories_background {
    height: 30px;
    margin-top: 15px;
    border-radius: 15px;
    padding: 5px;
    background-image: linear-gradient(45deg, #591abd, #b507b8, #f50c7d);
    width: fit-content;
    max-width: 100%;
    display: flex;
    gap: 5px;
}

.buttons_categories {
    border: none;
    border-radius: 10px;
    font-size: 18px;
    height: 100%;
    transition-property: background-color;
    transition-duration: 0.4s;
    background-color: #ffffffdf;
    padding-left: 10px;
    padding-right: 10px;
}

.buttons_categories:hover {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: #fffffff8;
}


.collection {
    margin-top: 15px;
    gap: 15px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.collection_game {
    /* width: 300px;
    height: 170px; */
    aspect-ratio: 1.76/1;
    background-image: linear-gradient(45deg, #b2bad6, #dce2fa);
    border-radius: 10px;
    transition-property: outline;
    transition-duration: 0.4s;
    outline: 2px solid #dce2fa;
    background-position: center;
}

.collection_game:hover {
    transition-property: outline;
    transition-duration: 0.5s;
    outline: 2px solid rgb(103, 34, 231);
}

.banner {
    display: none;
    margin-top: 23px;
    width: 35%;
    min-width: 250px;
    aspect-ratio: 1.76/1;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    font-weight: normal;
    font-size: 3em;
    padding: 2%;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('src/picture/banner_1.jpg');
    background-position: center;
    background-size: contain;
    transition-property: transform;
    transition-duration: 0.4s;
}

.banner:hover::before {
    transform: scale(1.05);
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 42px;
    padding-right: 42px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*background-color: #e8ecfa;*/
    background-image: linear-gradient(45deg, #e8ecfa, #e8edff);
}

.for_creators {
    display: flex;
    justify-content: space-between;
    gap: 60px;
   
}

.section_creators {
    display: flex;
    flex-direction: column;
}

.section_creators h3 {
    margin-bottom: 5px;
}

.mini_logo {
    display: flex;
    gap: 5px;
}

.nav_chess {
    margin-top: 15px;
    display: flex;

}

.nav_chess_button {
    border: none;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    font-size: 24px;
    font-weight: 400;
}

.nav_play {
    border-right: 1px solid rgb(201, 201, 201);
    border-left: 1px solid rgb(201, 201, 201);
}

.nav_tasks {
    border-right: 1px solid rgb(201, 201, 201);
}

.nav_news {
    border-right: 1px solid rgb(201, 201, 201);
}

.shashki_game {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.board {
    width: 600px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #e8e8e8;
}

.info_game {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.players {
    height: 30%;
    background-image: linear-gradient(45deg, #e8ecfa, #e8edff);
}

.moves {
    height: 60%;
    background-image: linear-gradient(45deg, #e8ecfa, #e8edff);
    padding: 10px;
    overflow-y: auto;
}

.moves table {
    width: 100%;
}

.table_number {
    padding: 10px;
    width: 15%;
    background-color: #fafbff;
    text-align: center;
}

.table_move {
    background-color: #ffffff;
    padding: 10px;
    width: 42.5%;
}


.white {
    background-color: #ffface;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: rgb(185, 118, 56);
    display: flex;
    justify-content: center;
    align-items: center;
}

.checker_white {
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    outline: 3px solid rgb(204, 204, 204);
}

.checker_black {
    background-color: rgb(59, 59, 59);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    outline: 3px solid rgb(95, 95, 95);
}

.move_cell {
    background-color: #85df5c;
}

.king {
    outline: 3px solid rgb(255, 251, 39)
}

.result_window {
    width: 300px;
    height: 5em;
    border-radius: 1em;
    border: 3px solid #cfd9ff;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 21;
}

.memo {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.memo_game {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.memo_cards {
    aspect-ratio: 1.2/1;
    height: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    box-sizing: border-box;
    /* padding: 20px; */
    /* box-shadow: 0px 0px 40px 0px rgb(220, 220, 255);
    outline: 2px solid rgb(220, 220, 255);
    outline-offset: -2px; */
}

.memo_card {
    border-radius: 20px;
    position: relative;
    perspective: 400px;
}

.card_front {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    background-color: mediumpurple;
    backface-visibility: hidden;
    transition-property: transform;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transform: rotateY(0deg);
}

.card_behind {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    backface-visibility: hidden;
    pointer-events: none;
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 0.8s;
    transform: rotateY(180deg);
}

/* .memo_card:hover .card_front {
    transform: rotateY(180deg);
}

.memo_card:hover .card_behind {
    transform: rotateY(360deg);
} */


.memo_player {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: 2px solid rgb(220, 220, 255);
    outline-offset: -2px;
    /* box-shadow: 0px 0px 40px 0px rgb(220, 220, 255); */
}

.taken_cards {
    background-color: #e8edff;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.turn_first {
    font-size: 24px;
}

.turn_second {
    font-size: 24px;
    display: none;
}

.news_list {
    margin-top: 15px;
}

.news_text {
    font-size: 20px;
}

.news_text span {
    color: grey;
}

.game_wrapper {
    height: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.game_content {
    box-sizing: border-box;
    margin-top: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.chess_board {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: ghostwhite;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
}

.chess_moves {
    height: 100%;
    aspect-ratio: 1/2;
    background-color: ghostwhite;
}

.chess_piece {
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.cell {
    position: relative;
}

.move_marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: rgba(97, 173, 67, 0.8);
    pointer-events: none;
}

.chess_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal_window {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    font-size: 32px;
    user-select: none;
    box-sizing: border-box;
    padding: 15px;
}

.pieces_row {
    width: 100%;
    aspect-ratio: 4/1;
    display: flex;
}

.chose_piece {
    height: 100%;
    aspect-ratio: 1/1;
    background: linear-gradient(45deg, rgb(111, 242, 252), rgb(43, 111, 201));
}

@media (max-width: 768px) {
    .main_navbar {
        display: none;
    }

    .mobile_navbar {
        display: flex;
    }

    footer {
        flex-direction: column;
        gap: 25px;
        padding: 15px 5vw;
    }

    .for_creators {
        flex-direction: column;
        gap: 20px;
    }

    .shashki_game {
        flex-direction: column;
    }

    .board {
        width: 90vw;
    }

    .info_game {
        width: 90vw;
        gap: 10vw;
        height: auto;
    }

    .shashki_game {
        margin: 10vw;
    }

    main {
        padding: 15px 5vw;
        flex-grow: 1s;
    }

    .checker_white {
        outline: 2px solid rgb(204, 204, 204)
    }

    .checker_black {
        outline: 2px solid rgb(95, 95, 95);
    }

    .king {
        outline: 2px solid rgb(255, 251, 39)
    }

    .moves {
        max-height: 300px;
    }

    .game {
        outline-offset: -2px;
    }

    .categories_background {
        /* width: 100%; */
        overflow-x: auto;
        scrollbar-width: none;
    }

    .games_list {
        overflow-x: auto;
        scrollbar-width: none;
    }

    .memo_game {
        flex-direction: column;
        gap: 20px;
    }

    .memo_player {
        width: 100%;
        height: 180px;
    }

    .memo_cards {
        width: 100%;
        height: auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        aspect-ratio: 1/1;
    }

    .taken_cards {
        height: 90px;
    }

    .card_front {
        border-radius: 10px;
    }

    .card_behind {
        border-radius: 10px;
    }

    .game_content {
        flex-direction: column;
        gap: 15px;
    }

    .chess_board {
        height: auto;
        width: 100%;
    }

    .chess_moves {
        width: 100%;
        aspect-ratio: auto;
    }

    .modal_window {
        gap: 10px;
        font-size: 22px;
        padding: 10px;
    }
}